<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre deportista</th>
                    <th>Fecha de cumpleaños</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let deportista of deportistas">
                    <td><span>{{deportista.nombre}}</span></td>
                    <td>{{deportista.fechaCumpleanios|date:'yyyy-MM-dd'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
